@use '../settings/settings' as *;
@use '../settings/mixins' as *;

.wishlist {

		// .wishlist__container
		&__container {
		}

		// .wishlist__table
		&__table {
		}
}
.table-wishlist {
  display: grid;

		// .table-wishlist__title
		&__title {
      @include adaptiveValue('font-size', 32, 28);
      line-height: 1.2;
      font-weight: 600;
      text-align: center;
      @include adaptiveValue('margin-bottom', 32, 20);
		}

		// .table-wishlist__header
		&__header {
		}

		// .table-wishlist__body
		&__body {
		}

		// .table-wishlist__footer
		&__footer {
		}
}
.header-wishlist {
  padding-block: toRem(16);
  padding-inline: toRem(24);
  @include default-border($color: $gray100);
  border-bottom: none;
  border-radius: toRem(8) toRem(8) toRem(0) toRem(0);

  tr {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    // @include adaptiveValue('column-gap', 100, 30);
  }

  th {
    font-size: toRem(14);
    text-transform: uppercase;
    color: $gray500;
    line-height: 1;
    letter-spacing: ls(3%);
    font-weight: 500;
    text-align: left;

    &:last-child {
      // grid-column: span 2;
    }
  }
}
.body-wishlist {
  @include default-border($color: $gray100);
		// .body-wishlist__price
		&__price {
		}

    tr {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      // @include adaptiveValue('column-gap', 100, 30);
      // gap: toRem(24);
      justify-items: center;
      align-items: center;
      padding-block: toRem(12);
    }

    td {
      // border-bottom: toRem(1) solid $gray100;

      &:last-child {
        // justify-items: end;
      }
      &:not(:first-child) {
        // justify-items: center;
      }
    }

		// .body-wishlist__label
		&__label {
      display: inline-block;
      padding-block: toRem(4);
      padding-inline: toRem(8);
      border-radius: toRem(4);
      @include transition;
			// .body-wishlist__label--stock
			&--stock {
        color: $brandDark;
        background-color: rgba(32, 181, 38, 0.2);
          @include hover {
            background-color: rgba(21, 97, 23, 0.4);
        }
			}
		}
}
.item-product-wishlist {
  
		// .item-product-wishlist__inner
		&__inner {
      display: flex;
      align-items: center;
      @include adaptiveValue('gap', 20, 10);
		}

		// .item-product-wishlist__image
		&__image {
      width: toRem(100);
      aspect-ratio: 1;

      img {
        object-fit: cover;
      }
		}

		// .item-product-wishlist__title
		&__title {
      @include adaptiveValue('font-size', 16, 14);
		}
}
.price-wishlist {
  display: flex;
  align-items: center;
  gap: toRem(2);
		// .price-wishlist__current
		&__current {
      @include adaptiveValue('font-size', 16, 14);
      font-weight: 500;
		}

		// .price-wishlist__old
		&__old {
      @include adaptiveValue('font-size', 16, 14);
      color: $gray400;
		}
}
.actions-wishlist {
  display: flex;
  align-items: center;
  @include adaptiveValue('gap', 25, 10);
		// .actions-wishlist__btn
		&__btn {
		}

		// .actions-wishlist__btn-remove
		&__btn-remove {
		}
}
.button {

		// .button--medium-green
		&--medium-green {
		}
}

