@use "sass:math";
// =====================Pages===========================

// =====================Settings===========================
@use './settings/settings' as *;
@use './settings/reset';
@use './settings/_mixins.scss' as *;
// =====================Layouts===========================
@use './layouts/header';
@use './layouts/footer';
@use './layouts/page';
// =====================Base===========================
@use './base/animation';
@use './base/fonts';
@use './base/_typography.scss';
// ====================================================
@use './components';
@use './settings/dataAttributes';

// ===========================================================================================
// -----------------------------
// html-styles
// -----------------------------
html,
body {
   // background-color: $white;
   margin: 0;
   padding: 0;
}

// html {
//    &::after {
//       content: "";
//       position: fixed; // краще fixed, щоб перекривало весь екран при скролі
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background-color: $bgSecondary;
//       z-index: 100000;
//       transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
//    }

//    &[init-page-loader="ready"] {
//       &::after {
//          transform: translateY(-100%);
//          // opacity: 0;
//       }
//    }
// }

// ===========================================================================================
// -----------------------------
// body-styles
// -----------------------------
body {
   font-family: "Poppins", sans-serif;
   line-height: 1.5;
   color: $gray900;

   &.scroll-lock {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;

      &.menu-open {
         overflow: hidden;
      }
   }
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: clip;

   >main {
      flex-grow: 1;
   }
}

[class*="__container"] {
   max-width: toRem($containerWidth);
   padding-inline: toRem(math.div($containerPadding, 2));
   margin: 0 auto;
}

// ===========================================================================================
// -----------------------------
// data-input
// -----------------------------
html[data-input="mouse"] {
   .menu-dropdown__item--submenu {
      &:hover> {
         .menu-dropdown__submenu {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            transform: translateY(0);
         }
         .menu-dropdown__link {
            &::before {
               rotate: -180deg;
            }
         }
      }
      &:active> {
         .button-action-like {
            &::before {
               // background-color: $brandPrimary;
            }
         }
      }
   }

   &:focus-visible {
      .lang-currency__group {
         &::before {
            rotate: 180deg;
         }
      }
   }

}
html[data-input="keyboard"] {
   >* :focus-visible {
         outline: toRem(2) solid $black;
         outline-offset: toRem(4);
         position: relative;
         z-index: 10;

      .item-categories__title {
            color: $brandDark;
         }
   }

   & footer :focus-visible {
      outline-color: $white;
   }

    &:focus-within {
      .item-product__actions {
         translate: 0 0;
      }
   }

   .is-active {
      .submenu-dropdowne {
         display: block;
      }
      .menu-dropdown__link {
         &::before {
            rotate: -180deg;
         }
      }
   }
}
html[data-input="touch"] {
   .menu-dropdown__item--submenu {
      &.is-active {
         .menu-dropdown__link {
            &::before {
               rotate: -180deg;
            }
         }
      }
   }
   .item-product__actions {
      translate: 0 0;
   }

   &:focus-visible {
      .lang-currency__group {
            &::before {
               rotate: 90deg;
            }
         }
   }

}

