@use "sass:math";
// =====================Pages===========================
@use './pages/catalog';
@use './pages/product';
@use './pages/wishlist';
// =====================Settings===========================
@use './settings/settings' as *;
@use './settings/reset';
@use './settings/_mixins.scss' as *;
// =====================Layouts===========================
@use './layouts/header';
@use './layouts/footer';
@use './layouts/page';
// =====================Base===========================
@use './base/animation';
@use './base/fonts';
@use './base/_typography.scss';
// ====================================================
@use './components';
@use './settings/dataAttributes';

// ===========================================================================================
// -----------------------------
// html-styles
// -----------------------------
html,
body {
}

// ===========================================================================================
// -----------------------------
// body-styles
// -----------------------------
body {
   font-family: "Poppins", sans-serif;
   line-height: 1.5;
   color: $gray900;

   &.scroll-lock {
      overflow: hidden;
      touch-action: none;
      overscroll-behavior: none;

      &.menu-open {
         overflow: hidden;
      }
   }
}

.wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: clip;

   >main {
      flex-grow: 1;
   }
}

[class*="__container"] {
   max-width: toRem($containerWidth);
   padding-inline: toRem(math.div($containerPadding, 2));
   margin: 0 auto;
}

// ===========================================================================================
// -----------------------------
// data-input
// -----------------------------

// --- 2. MOUSE MODE ---
html[data-input="mouse"] {
   :focus:not(:focus-visible) {
      outline: none;
   }

   &:focus-visible {
      .lang-currency__group {
         &::before {
            rotate: 180deg;
         }
      }
   }

}

// --- 1. KEYBOARD MODE ---
html[data-input="keyboard"] {
   :focus-visible {
      outline: toRem(2) solid $black;
      outline-offset: toRem(4);
   }

   & footer :focus-visible {
      outline-color: $white;
   }

   .is-active {
      .submenu-dropdowne {
         display: block;
      }

      .menu-dropdown__link {
         &::before {
            rotate: 0deg;
         }
      }
   }

   .item-product {
      &:focus-within {
         .item-product__actions {
            translate: 0 0;
         }
      }
      &:focus-visible {
         .item-product__title {
            color: $brandDark;
         }
      }
   }

   .button-quick-view,
   .button-shop-cart,
   .button-wishlist {
      &:focus,
      &:focus-visible {
         &::before {
            color: $brandPrimary;
         }
      }
   }

   :focus-visible {
    .item-categories__title  {
        color: $brandDark;
        outline-color: red;
      }
   }
}

// --- 3. TOUCH MODE ---
html[data-input="touch"] {
   .menu-dropdown__item--submenu {
      &.is-active {
         .menu-dropdown__link {
            &::before {
               rotate: 0deg;
            }
         }
      }
   }
   .item-product__actions {
      translate: 0 0;
   }
   &:focus-visible {
      .lang-currency__group {
         &::before {
            rotate: 90deg;
         }
      }
   }
   .social-media-link__icon{
 
   }
}

.item-filter[open] {
   .item-filter__icon {
      &::before {
         rotate: 180deg;
      }
   }
}
