@use "sass:math";
@use './settings' as *;
@use './mixins' as *;


// ===========================================================================================
// -----------------------------
// accordion
// -----------------------------
[data-accordion-body] {
   height: 0;
   overflow: hidden;
   transition: height 0.4s ease, opacity 0.4s ease;
   opacity: 0;
}

[data-accordion] {
   &.is-open {
      [data-accordion-body] {
         opacity: 1;
      }
   }
}

[data-accordion] {
   &.is-open {
      .header-accordion__title {
         color: red;
      }
      .item-filter__title {
         color: $brandDark;
      }
   }
}

[data-accordion-icon] {
   .is-open & {

   }
}

