@use "sass:math";
@use "sass:map";
@use "sass:color";

@mixin hover {
   html[data-input="mouse"] & {
      &:hover {
         @content;
      }
   }
}

@mixin tap {
   html[data-input="touch"] &,
   html[data-input="pen"] & {
      &:active {
         @content;
      }
   }
}

@mixin focus {
   html[data-input="keyboard"] & {
      &:focus-visible {
         @content;
      }
   }
}

// ===========================================================================================
// -----------------------------
// buttons
// -----------------------------
@mixin buttonMore($width: 40px,
   $line-height: 2px,
   $color: white,
   $hover-color: black,
   $transition: 0.3s,
   $radius: 0,
   $aspect: 1,
   $ease: cubic-bezier(0.4, 0, 0.2, 1),
   $type: "plus" // Додаємо параметр: "plus" або "cross"

) {
   width: $width;
   aspect-ratio: $aspect;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   will-change: transform;
   transition: transform $transition $ease;

   span {
      position: relative;
      display: block;
      width: 100%;
      height: $line-height;
      background-color: $color;
      transition: background-color $transition ease, transform $transition $ease;
      will-change: transform;
      border-radius: $radius;
      transform: rotate(0);

      &::after {
         content: "";
         // @include abs-center;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%) rotate(90deg);
         width: 100%;
         height: $line-height; // Використовуємо ту саму товщину
         background-color: inherit; // Колір буде таким самим, як у span
         border-radius: $radius;
         will-change: transform;
         transition: transform $transition $ease;
      }
   }

   @include hover {
      transform: scale(1.05); // Легка пульсація (збільшення)

      span {
         background-color: $hover-color; // Зміна кольору обох ліній
      }
   }

   &.icon-active {
      span {
         @if $type =="cross" {
            transform: rotate(45deg); // Для хрестика повертаємо на 45
         }

         @else {
            transform: rotate(0); // Для звичайного плюса (мінус)
         }

         &::after {
            @if $type =="cross" {
               transform: translate(-50%, -50%) rotate(90deg);
            }

            @else {
               transform: translate(-50%, -50%) rotate(0deg);
            }
         }
      }

      &:focus {
         span {
            background-color: $hover-color;
         }
      }
   }
}

@mixin icon-menu(
   $width,
   $height,
   $color: black,
   $radius: 10px,
   $widthSpan: 100%,
   $heightLine: 2px,
   $widthBefore: 100%
)
{
   position: relative;
   z-index: 10;
   flex-shrink: 0;
   width: $width;
   height: $height;

   &::before,
   &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 100%;
      height: $heightLine;
      border-radius: $radius;
      background-color: $color;
      transition: rotate 0.3s ease,translate 0.3s ease;
      will-change: rotate,translate,width;
   }
   &::before {
      top: 0;
   }
   &::after {
      bottom: 0;
   }
   span {
      position: absolute;
      top: 50%;
      right: 0;
      translate: 0 -50%;
      background-color: $color;
      width: $widthSpan;
      height: $heightLine;
      border-radius: $radius;
      transition: width 0.3s ease;
      will-change: width;
   }

   .menu-open &{
      &.icon-menu {
         &::before {
            top: 50%;
            rotate: 45deg;
            translate: 0 -50%;
            width: 100%;
         }

         &::after {
            top: 50%;
            rotate: -45deg;
            translate: 0 -50%;
         }

         span {
            width: 0;
         }
      }
   }
}

$button-options: (
   green: (
      bg: #00B307,
      color: #fff,
      hover-bg: #2C742F,
      border: none,
      border-radius: 43px
   ),

   white: (
      bg: #fff,
      color: #00B307,
      hover-color: #fff,
      hover-bg: #00B307,
      border: none,
      border-radius: 43px
   ),

   gray: (
      bg: rgba(86, 172, 89, 0.1),
      color: #00B307,
      hover-bg: rgba(44, 116, 47, 0.2),
      hover-color: #2C742F,
      border: none,
      border-radius: 43px
   )
);

$button-sizes: (
   small: (
      font: 12px,
      font-weight: 600,
      padding: 10px 24px,
      radius: 43px
   ),

   medium: (
      font: 14px,
      font-weight: 600,
      padding: 14px 32px,
      radius: 43px
   ),

   big: (
      font: 16px,
      font-weight: 600,
      padding: 16px 40px,
      radius: 43px
   )
);

@mixin button($option, $size) {

   $o: map.get($button-options, $option);
   $s: map.get($button-sizes, $size);

   @if $o ==null {
      @error "Unknown variant #{$option}";
   }

   @if $s ==null {
      @error "Unknown size #{$size}";
   }

   background: map.get($o, bg);
   color: map.get($o, color);
   border: map.get($o, border);

   font-size: map.get($s, font);
   padding: map.get($s, padding);
   border-radius: map.get($s, radius);
   font-weight: map.get($s, font-weight);

   cursor: pointer;
   transition: 0.3s ease;

   @include hover {
       background: map.get($o, hover-bg);
      color: map.get($o, hover-color);
   }
}

$item-sale-options: (
   orange: (
      bg: rgba(234, 75, 72, 1),
      hover-bg: rgb(190, 36, 34)
   ),

   blue: (
      bg: rgba(35, 136, 255, 1),
      hover-bg: rgb(13, 81, 158)
   ),

   black: (
      bg: #000,
      hover-bg: rgba(24, 22, 22, 0.8)
   )
);

@mixin item-sale($option) {

   $o: map.get($item-sale-options, $option);

   @if $o ==null {
      @error "Unknown variant #{$option}";
   }

& {
   color: #fff;
   font-weight: 500;
   padding-block: 3px;
   padding-inline: 8px;
   border-radius: 4px;
   transition: background 0.3s ease;

   background: map.get($o, bg);
}
   &:hover {
      background: map.get($o, hover-bg);
   }
}

// ===========================================================================================
// -----------------------------
// background
// -----------------------------
@mixin img-bg-cover($url) {

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url($url) center / cover no-repeat;
   }
}

@mixin overlay($color: black, $opacity: 0.5,$transition: 0.4s) {

   &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color, $opacity);
      z-index: 1;
      transition: opacity $transition ease;
   }
}

@mixin overlay-gradient($color: black, $opacity-start: 0.8, $opacity-end: 0.2) {
   position: relative;

   &::after {
      content: "";
      position: absolute;
      inset: 0; // Це скорочення для top, left, width 100%, height 100%
      background: linear-gradient(to bottom,
            rgba($color, $opacity-start),
            rgba($color, $opacity-end));
      z-index: 1;
   }
}

@mixin overlay-decor ($bg) {

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $bg;
   }
}

@mixin overlay-hover($color,$transition: 0.4s) {
   position: relative;

   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: $color;
      transition: opacity $transition ease;
      z-index: 1;
   }
   @include hover {
      &::before {
         opacity: 1;
      }
   }
}

@mixin overlap-border (
   $shadow: 0 0px 3px 0px rgba(0, 0, 0, 1),
   $border-color: black
)
{
   margin: 0 -1px -1px 0;

   &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      right: -1px;
      bottom: -1px;
      z-index: 2;
      pointer-events: none;
      opacity: 0;
      box-shadow: $shadow;
      border: 1px solid $border-color;
      transition: opacity 0.4s ease;
   }

   @include hover {
     &::before {
         opacity: 1;
     }
   }
}

@mixin button-click-area () {

   &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
   }
}
// ===========================================================================================
// -----------------------------
// flex / grid
// -----------------------------
@mixin flex-center (
   $display: flex,
   $justify-content: flex-start,
   $align-items: center
   )
{
   display: $display;
   justify-content: $justify-content;
   align-items: $align-items;
}

@mixin flex-column($display: flex, $flex-direction: column, $align-items: flex-start, $gap: 0) {
   display: $display;
   flex-direction: $flex-direction;
   align-items: $align-items;
   gap: $gap;
}

@mixin flexbox($display:flex,$justify: flex-start, $align: center, $gap: 0, $wrap: nowrap) {
   display: $display;
   justify-content: $justify;
   align-items: $align;
   gap: $gap;
   flex-wrap: $wrap;
}

@mixin grid-adaptive($auto:auto-fill, $size, $gap: 0) {
   display: grid;
   gap: $gap;
   grid-template-columns: repeat($auto, minmax(min($size, 100%), 1fr));
}

@mixin flex-link-arrow(
   $display:inline-flex,
   $direction: row-reverse,
   $gap: 0
   )
{
   display: $display;
   align-items: center;
   flex-direction: $direction;
   gap: $gap;
}

// ===========================================================================================
// -----------------------------
// effects
// -----------------------------
@mixin card-style($bg, $radius: 10px, $shadow-color: rgba(0, 0, 0, 0.5)) {
   border-radius: $radius;
   box-shadow: 0 4px 10px $shadow-color;
   background-color: $bg;
}

@mixin link-style($main-color, $hover-color) {
   color: $main-color;
   transition: color 0.3s ease;

   @include hover {
      color: $hover-color;
   }
}

// ===========================================================================================
// -----------------------------
// positions
// -----------------------------
@mixin abs-center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

@mixin abs-pos($top: null, $right: null, $bottom: null, $left: null) {
   position: absolute;

   @if ($top !=null) {
      top: $top
   }

   @if ($right !=null) {
      right: $right
   }

   @if ($bottom !=null) {
      bottom: $bottom
   }

   @if ($left !=null) {
      left: $left
   }
}

// ===========================================================================================
// -----------------------------
// hover effects
// -----------------------------
@mixin link-hover-left($height, $color) {
   position: relative;

   &::after {
      content: "";
      height: $height;
      background-color: $color;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      transition: width 0.3s ease;
   }

   @include hover {
      &::after {
         width: 100%;
      }
   }
}

@mixin link-hover-center($height, $color) {
   position: relative;

   &::after {
      content: "";
      height: $height;
      background-color: $color;
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50% 0;
      width: 0;
      transition: width 0.3s ease;
   }

   @include hover {
      &::after {
         width: 100%;
      }
   }
}

@mixin link-hover-underline($height, $color) {
   position: relative;

   &::after {
      content: "";
      height: $height;
      background-color: $color;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      transition: opacity 0.3s ease;
      opacity: 0;
   }

   @include hover {
      &::after {
         opacity: 1;
      }
   }
}

@mixin icon-hover-bg(
   $width,
   $color:black,
   $transition: 0.3s,
   $transform-origin: center,
   $use-scale: false,
   $scale-from: 0,
   $scale-to: 1
) {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 2;
   isolation: isolate; // Створює замкнений контекст накладання

   &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      border-radius: 50%;
      background-color: $color;
      width: $width;
      aspect-ratio: 1;
      z-index: 1;
      opacity: 0;
      transform-origin: $transform-origin;
      pointer-events: none;
      will-change:scale, background-color,opacity;
      transition: opacity $transition cubic-bezier(.4, 0, .2, 1),
            background-color $transition cubic-bezier(.4, 0, .2, 1),
            scale $transition cubic-bezier(.4, 0, .2, 1);

      @if $use-scale {
         scale: $scale-from;
      }

   }
   @include hover {
     &::after {
         opacity: 1;

         @if $use-scale {
            scale: $scale-to;
         }
      }
   }
}

// ===========================================================================================
// -----------------------------
// default
// -----------------------------
@mixin default-border($width: 1px, $style: solid, $color: #000) {
   border: $width $style $color;
}

@mixin square-icon(
   $width,
   $height,
   $display: flex,
   $align-items: center,
   $justify-content: center,
   $radius: 50%,
   $bg: #fff
   )
{
   width: $width;
   aspect-ratio: 1;
   flex-shrink: 0;
   display: $display;
   height: $height;
   align-items: $align-items;
   justify-content: $justify-content;
   border-radius: $radius;
   background-color: $bg;
}

@mixin pseudo($display: block, $pos: absolute) {
   content: "";
   display: $display;
   position: $pos;
}

@mixin transition($props...) {
   transition: $props 0.3s ease;
}

@mixin button-base ($display: inline-flex, $align-items: center, $justify-content: center, $border: none, $cursor: pointer, $font: inherit) {
   display: $display;
   align-items: $align-items;
   justify-content: $justify-content;
   border: $border;
   cursor: $cursor;
   font: $font;
}

@mixin line-clamp($lines: 3) {
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: $lines;
   overflow: hidden;
}

@mixin mirror($axis: x) {
   @if $axis ==x {
      transform: scaleX(-1);
   }

   @else if $axis ==y {
      transform: scaleY(-1);
   }

   @else if $axis ==both {
      transform: scale(-1);
   }
}

@mixin spacer ($top: null, $right: null, $bottom: null, $left: null, $type: padding) {
   @if $top !=null {
      #{$type}-top: $top;
   }

   @if $right !=null {
      #{$type}-right: $right;
   }

   @if $bottom !=null {
      #{$type}-bottom: $bottom;
   }

   @if $left !=null {
      #{$type}-left: $left;
   }
}

@mixin font-box($size, $weight: null, $lh: null) {
   font-size: $size;

   @if $weight !=null {
      font-weight: $weight;
   }

   @if $lh !=null {
      line-height: $lh;
   }
}

// ===========================================================================================
// -----------------------------
// animations
// -----------------------------
@mixin reveal($translate: (0, 30px), $duration: 0.8s, $delay: 0s) {
   opacity: 0;
   will-change: transform, opacity;

   @if length($translate)==2 {
      transform: translate(nth($translate, 1), nth($translate, 2));
   }

   transition: transform $duration ease $delay,
   opacity $duration ease $delay;

   &.animate {
      opacity: 1;
      transform: translate(0, 0);
   }
}

@mixin popIn($duration: 0.6s,
   $delay: 0s,
   $start-scale: 0.2,
   $origin: center,
   $will-change: true) {
   opacity: 0;
   transform: scale($start-scale);
   transform-origin: $origin;

   @if $will-change {
      will-change: transform, opacity;
   }

   transition: opacity $duration ease $delay,
   transform $duration cubic-bezier(0.34, 1.56, 0.64, 1) $delay;

   &.animate {
      opacity: 1;
      transform: scale(1);
   }
}

@mixin stagger($count: 20, $delay-step: 0.1s, $start-delay: 0s) {
   @for $i from 1 through $count {
      &:nth-child(#{$i}) {
         transition-delay: $start-delay + ($i - 1) * $delay-step;
      }
   }
}
