@use '../settings/settings' as *;
@use '../settings/mixins' as *;


.header {
  //  display: none;
   position: sticky;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   transition: all 0.3s;

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap', 30, 15);
   }
}

//  =========================== top-header ==========================
.top-header {
   // display: none;
   color: $gray600;
   font-size: toRem(12);
   background-color: $white;
   line-height: 1.3;
   border-bottom: toRem(1) solid $gray200;
   @include adaptiveValue('padding-block', 13, 10);

   @media (max-width: toEm($mobile)) {
     background-color: $gray900;
     color: $white;
     padding-block: toRem(30);
     border-radius: toRem(10);
   }

   // .top-header__container
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(20);
      flex-wrap: wrap;

      @media (max-width: toEm($mobile)) {
        justify-content: center;
        flex-direction: column-reverse;
      }
   }

   // .top-header__link
   &__link {
      display: flex;
      align-items: flex-start;
      gap: toRem(8);
      @include transition;
      @include link-hover-underline($height: toRem(1), $color: $brandPrimary);
      &::before {
         font-size: toRem(18);
      }
      @include hover {
        color: $brandPrimary;
      }

      @media (max-width: toEm(400)) {
        &:not(::before) {
         display: none;
        }
      }
   }

   &__location {
      z-index: 10;
   }
}

.actions-top-header {
   display: flex;
   align-items: center;
   gap: toRem(40);

   @media (max-width: toEm(644)) {

   }

   // .actions-top-header__lang
   &__lang {
      position: relative;
      &::after {
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         background-color: $gray100;
         width: toRem(1);
         height: 100%;
         margin-right: toRem(-20);
      }
   }

   // .actions-top-header__auth
   &__auth {}
}

.lang-currency {
   display: flex;
   align-items: center;
   gap: toRem(20);

   &__group {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: toRem(6);

      &::before {
         font-size: toRem(8);
         position: absolute;
         right: 0;
         top: 50%;
         translate: 0 -50%;
         pointer-events: none;
         @include transition;
      }

      &:focus-within {
         &::before {
            rotate: 180deg;
         }
      }

      @include hover {
        color: $brandPrimary;
      }
   }

   // .lang-currency__select
   &__select {
      font-size: toRem(14);
      color: $gray600;
      appearance: none;
      font-size: toRem(12);
      padding-right: toRem(10.5);
      @include transition;

      @media (max-width: toEm($mobile)) {
        background-color: transparent;
        color: $white;
      }

      @include hover {
         color: $brandPrimary;
      }
   }

   // .lang-currency__item
   &__item {
      font-size: toRem(14);
      color: $gray600;
   }
}

.auth-top-header {

   // .auth-top-header__link
   &__link {
      position: relative;
      @include link-hover-underline($height: toRem(1), $color: $gray600);
   }
}

.menu-header {
   flex-grow: 1;

   @media (max-width: toEm($mobile)) {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: $brandDark;
      padding: toRem(170) toRem(15) toRem(30) toRem(15);
      transition: all 0.3s;
      -webkit-overflow-scrolling: touch;
      overflow: auto;

      .menu-open & {
         right: 0;
      }

      // &::before {
      //    content: "";
      //    position: fixed;
      //    top: 0;
      //    right: -100%;
      //    width: 100%;
      //    // @include adaptiveValue('min-height',150,70);
      //    min-height: toRem(150);
      //    background-color: $white;
      //    transition: all 0.3s;

      //    .menu-open & {
      //       right: 0;
      //    }
      // }
   }

   // .menu-header__list
   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include adaptiveValue('gap', 30, 10);

      @media (max-width: toEm($mobile)) {
         flex-direction: column;
         gap: toRem(30);
      }
   }

   // .menu-header__item
   &__item {
      position: relative;
      // display: flex;

      &::before {
         color: $gray400;
         font-size: toRem(10);
         position: absolute;
         top: 50%;
         right: 0;
         translate: 0 -50%;
      }

      @media (max-width: toEm($mobile)) {
        color: $black;
      }
   }

   // .menu-header__link
   &__link {
      font-size: toRem(14);
      color: $gray400;
      font-weight: 500;
      padding-block: toRem(16);
      @include transition;

      @media (max-width: toEm($mobile)) {
        font-size: toRem(24);
        color: $white;
      }


      @include hover {
        color: $white;
      }
   }
}

//  =========================== body-header ==========================
.body-header {
   position: relative;
   z-index: 10;
   @include adaptiveValue('padding-block', 24, 10);
   background-color: $white;

   // .body-header__container
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap', 20, 8);
   }

   // .body-header__logo
   &__logo {}

   // .body-header__search
   &__search {}

   // .body-header__actions
   &__actions {}
}

.logo-header {
   flex-shrink: 0;
   z-index: 5;

   &__inner {
      display: flex;
      align-items: center;
      gap: toRem(8);
   }

   // .logo-header__icon
   &__icon {}

   // .logo-header__text
   &__text {
      font-style: normal;
      @include adaptiveValue('font-size', 32, 18);
      font-weight: 500;
      color: $gray900;
      @include transition;

      @media (max-width: toEm(600)) {
      //   display: none;
      }
   }

   @include hover {
      .logo-header__text {
         color: $brandPrimary;
      }
   }
}

.search-header {
   flex-basis: toRem(498);

   // .search-header__form
   &__form {
      position: relative;
      display: flex;
      align-items: center;
      outline: toRem(1) solid $gray200;
      border-radius: toRem(6);
      z-index: 5;
      height: toRem(45);
      &::before {
         position: absolute;
         top: 50%;
         left: 0;
         translate: 0 -50%;
         @include adaptiveValue('padding-left', 16, 6);
      }

      @media (max-width: toEm(768.98)) {
        width: 100%;
        background-color: $white;
      }
   }

   // .search-header__input
   &__input {
      padding-block: toRem(12);
      @include adaptiveValue('padding-left', 44, 30);
      font-size: toRem(16);
      &::placeholder {
         color: $gray500;
         @include adaptiveValue('font-size', 15, 12);
         @include transition;
         // padding-left: toRem(44);
      }
      &:focus {
         &::placeholder {
            opacity: 0;
         }
      }
      &:focus-visible {
         outline: toRem(1) solid $gray900;
         border-radius: toRem(6) toRem(0) toRem(0) toRem(6);
         outline-offset: toRem(2);
      }
   }

   // .search-header__button
   &__button {
      font-size: toRem(14);
      color: $white;
      font-weight: 600;
      line-height: 1.2;
      background-color: $brandPrimary;
      padding-block: toRem(12);
      padding-inline: toRem(24);
      border-radius: toRem(0) toRem(6) toRem(6) toRem(0);
      height: toRem(45);
      @include transition;

      @include hover {
        background-color: $brandDark;
      }
   }
}

.actions-body-header {
   display: flex;
   align-items: center;
   @include adaptiveValue('gap', 18, 5);
   cursor: pointer;
   @include transition;
   z-index: 5;

   @media (max-width: toEm($mobile)) {
     @include adaptiveValue('gap', 20, 10);
   }

   // .actions-body-header__wishlist
   &__wishlist {
      line-height: 0;
   }

   &__icon {
      display: block;
      position: relative;
      @include adaptiveValue('padding-right', 18, 5);

      &::before {
         font-size: toRem(24);
         @include transition;
      }

      &::after {
         content: "";
         position: absolute;
         top: 0;
         right: 0;
         width: toRem(1);
         height: 100%;
         background-color: $gray200;
      }

      @media (max-width: toEm($mobile)) {
         padding-right: 0;

         &::after {
            display: none;
         }
      }

      @include hover {
         &::before {
            color: $brandDark;
         }
      }
   }
}

.cart-shopping {
   display: flex;
   align-items: center;
   gap: toRem(10);
   @include transition;

   @include hover {
      color: $brandDark;

      .content-cart-shopping {
         span {
            color: $brandDark;
         }
      }
   }

   // .cart-shopping__icon
   &__icon {
      position: relative;
      &::before {
         font-size: toRem(24);
      }

      span {
         color: $white;
         font-size: toRem(10);
         font-weight: 500;
         position: absolute;
         top: percent(-6,24);
         right: percent(-6, 24);
         width: toRem(18);
         height: toRem(18);
         background-color: $brandDark;
         border-radius: 50%;
         @include default-border($color: $white);
         display: flex;
         justify-content: center;
         align-items: center;
         @include transition;
      }
   }
}

.content-cart-shopping {
   display: flex;
   flex-direction: column;
   gap: toRem(7);
   @include transition;

   // .content-cart-shopping__label
   &__label {
      @include adaptiveValue('font-size', 11, 8);
      color: $gray700;
      line-height: 1.2;
      @include transition;
   }

   // .content-cart-shopping__amount
   &__amount {
      @include adaptiveValue('font-size', 14, 12);
      color: $gray900;
      line-height: 1;
      @include transition;
      font-weight: 500;
   }

   @media (max-width: toEm(879)) {
     display: none;
   }
}

//  =========================== bottom-header ==========================
.bottom-header {
   background-color: $gray800;

   @media (max-width: toEm($mobile)) {
      position: relative;

      &::before {
         content: "";
         background-color: $gray800;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         z-index: 2;
         left: 0;
      }
   }


   // .bottom-header__container
   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(30);

      @media (max-width: toEm(767)) {
            padding-block: toRem(10);
         }
   }

   // .bottom-header__link
   &__link {
      display: flex;
      align-items: center;
      gap: toRem(8);
      color: $white;
      font-size: toRem(14);
      font-weight: 500;
      @include transition;
      @include link-hover-underline($height: toRem(1), $color: $brandPrimary);

      @media (max-width: toEm($mobile)) {
         color: $gray900;

         &::before {
            font-size: toRem(24);
         }

         span {
            display: none;
         }
      }

      @include hover {
        color: $brandPrimary;
      }
   }
}

// ===========================================================================================
// -----------------------------
// Menu-dropdown
// -----------------------------
.menu-dropdown {

   // .menu-dropdown__list
   &__list {
      display: flex;
      align-items: center;
      gap: toRem(20);
   }

   // .menu-dropdown__item
   &__item {

      // .menu-dropdown__item--submenu
      &--submenu {
         position: relative;

         &.is-active {
            .menu-dropdown__submenu {
               opacity: 1;
               visibility: visible;
               pointer-events: auto;
               transform: translateY(0);
            }
         }

         @include hover {
            .menu-dropdown__submenu {
               opacity: 1;
               visibility: visible;
               pointer-events: auto;
               transform: translateY(0);
            }
            .menu-dropdown__link {
               &::before {
                  rotate: 0deg;
               }
            }
         }
      }
   }

   // .menu-dropdown__link
   &__link {
      padding: 10px 15px;
      display: inline-flex;
      flex-direction: row-reverse;
      gap: toRem(5);
      align-items: center;
      text-decoration: none;
      transition: background-color 0.2s, color 0.2s;

      &::before {
         font-size: toRem(10);
         transition: rotate 0.4s ease;
         will-change: rotate;
         rotate: 180deg;
      }

      // Hover на mouse
      @include hover {
         background-color: #333;
         // color: rgb(155, 126, 86);
      }

      @media (max-width: toEm($mobile)) {
         color: $white;
      }

      // Tap на touch/pen
      // @include tap {
      //    background-color: #555;
      //    color: #ff0;
      // }

      // Focus на keyboard
      @include focus {
         outline: 2px solid $black;
         background-color: #222;
      }
   }

   // .menu-dropdown__submenu
   &__submenu {
      position: absolute;
      top: 100%;
      left: 0;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      transform: translateY(-15px);
      transition:
         opacity .3s ease,
         transform .3s ease,
         visibility .3s ease;

      @include hover {
         // opacity: 1;
         // visibility: visible;
         // pointer-events: auto;
         // transform: translateY(0);
      }
   }
}

.submenu-dropdown {
   position: absolute;
   top: 100%;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: toRem(15);
   background-color: $brandDark;
   padding: 10px 0;
   min-width: toRem(150);
   z-index: 10;
   padding-left: toRem(10);
   padding-top: toRem(20);
   border-radius: toRem(0) toRem(0) toRem(10) toRem(10);

   // .submenu-dropdowne__link
   &__link {
      position: relative;
      transition: color 0.3s;
      font-size: toRem(14);
      color: $white;
      @include link-hover-underline($height: toRem(1), $color: $white);
   }

   @media (max-width: toEm($mobile)) {
     background-color: $gray900;
   }
}

